* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
  border: none;
}

/* color clases */
.text-white {
  color: white;
}
/* color clases */

/* border clases */
.myborder {
  border-right: 1px solid#d7d4d4;
  padding: 6px 20px;
}
/* border clases */
.nav-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e8e8e8;
  padding: 4px 8.5vw;
}
.nav-1 ul {
  display: flex;
  gap: 35px;
  font-size: 13px;
}
.nav-1 ul a {
  color: black;
}
.nav-1 .nav-child-2 {
  display: flex;
  /* gap: 30px; */
  font-size: 14px;
}

.nav-1-icons {
  display: flex;
  gap: 15px;
  font-size: 13px;
  padding: 9px 0px 9px 20px;
  color: rgb(187, 187, 187);
}

.nav-2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 25px 8vw;
}
.nav-2 .child-2 {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 70px;
}
.child-2 ul {
  display: flex;
  gap: 52px;
  margin-left: auto;
}
.child-2 ul a {
  color: black;
  font-weight: 700;
  font-size: 15px;
}
.child-2 .nav-2-icons {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  gap: 20px;
}
/* offer-patti start here */
.offer-patti-black {
  background: #000;
  color: white;
  padding-block: 14px;
  width: 100%;
  text-align: center;
}
.offer-patti-black p a {
  color: yellow;
}
/* offer-patti start here */
