@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Grey+Qo&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Grey+Qo&family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: jost, sans-serif;
  border: none;
  background: transparent;
}
p {
  line-height: 1.5;
}
/* align classes */
.text-center {
  text-align: center;
}
/* align classes */

/* font weight classess */
.font-weight {
  font-weight: 500;
}
/* font weight classess */
/* font size class */

/* font size class */

/* color clases */
.text-white {
  color: white;
}
/* color clases */

/* border clases */
.myborder {
  border-right: 1px solid#d7d4d4;
  padding: 6px 20px;
}
/* border clases */

/* nav start herer */
.nav-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e8e8e8;
  padding-inline: 8.5vw;
  padding-block: 10px;
}
.nav-1 ul {
  display: flex;
  gap: 35px;
  font-size: 13px;
}
.nav-1 ul a {
  color: black;
}
.nav-1 .nav-child-2 {
  display: flex;
  font-size: 14px;
}

.nav-1-icons {
  display: flex;
  gap: 15px;
  font-size: 14px;
  padding: 9px 0px 9px 20px;
  color: rgb(115, 115, 115);
}

.nav-2 {
  display: flex;
  top: 0;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 25px 8vw;
  position: sticky;
  z-index: 10;
  background: white;
}
.nav-2 .nav-btn {
  font-size: 17px;
  display: none;
}
.nav-2 .child-2 {
  display: flex;
  align-items: center;
  flex-grow: 1;
  gap: 70px;
  overflow: hidden;
  transition: all 0.5s ease-in;
}

.child-2 ul {
  display: flex;
  gap: 40px;
  margin: auto;
}
.child-2 ul a {
  color: black;
  font-weight: 700;
  font-size: 15px;
}
.child-2 .nav-2-icons {
  display: flex;
  flex-direction: row;
  font-size: 25px;
  gap: 20px;
}
/* offer-patti start here */
.offer-patti-black {
  background: #000;
  padding-block: 14px;
  width: 100%;
}
.offer-patti-black a {
  color: yellow;
}
/* offer-patti start here */

.slider {
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(https://preview.colorlib.com/theme/capitalshop/assets/img/hero/h1_hero1.jpg);
  display: flex;
  align-items: center;
}
.slider .slider-content {
  width: 100%;
  max-width: 600px;
  margin-left: clamp(0.625rem, -0.4684rem + 5.4672vw, 4.0625rem);
  display: flex;
  flex-direction: column;
  gap: 17px;
}
.slider-content h3 {
  color: #ff2020;
  font-size: 3rem;
  font-weight: 400;
  font-family: "clicker script";
}
.slider-content h1 {
  font-size: clamp(1.75rem, 1.2331rem + 2.5845vw, 3.375rem);
  line-height: 0.7;
  margin-bottom: 8px;
}
.slider-content p {
  font-size: 19px;
  padding-inline: 6vw;
  color: #3b3939;
}

.slider-content button {
  margin: auto;
  padding: 15px 45px;
  background-color: #292621;
  text-transform: uppercase;
}
/* slider end */

/* cards start */
.first-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding-block: 50px;
  width: 90%;
  max-width: 1200px;
  gap: 20px;
  margin: auto;
}
.first-cards .card {
  flex: 1 1 250px;
  max-width: 360px;
  height: 300px;
  position: relative;
  overflow: hidden;
}
.first-cards .card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 40%;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.1) 20%, rgba(0, 0, 0, 1));
}
.first-cards img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.first-cards .card .content {
  position: absolute;
  width: 100%;
  bottom: -23px;
  left: 50%;
  transform: translateX(-50%);
  transition: all 0.6s ease;
}

.first-cards .card .content h3 {
  font-size: 25px;
  font-weight: 600;
}
.first-cards .card .content a {
  display: inline-block;
  margin-top: 24px;
  border-bottom: 2px solid;
  padding-bottom: 4px;
  color: wheat;
}
.first-cards .card:hover .content {
  bottom: 40px;
}
/* cards end */
.slider-card-content {
  /* margin-top: 35px; */
  margin: 40px 8vw 130px;
}
.slider-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e5e3df;
}

.slider-nav .slider-btns button {
  font-size: 16px;
  padding: 38px 15px;
  border-bottom: 4px solid transparent;
}
.slider-btns button:nth-child(1),
.slider-btns button:hover {
  color: #ff2020;
  border-color: #ff2020;
}
.slider-cards {
  display: flex;
  justify-content: center;
  margin-block: 45px;
  gap: 20px;
  flex-wrap: wrap;
}
.slider-cards .card {
  position: relative;
}
.slider-cards .card .hover-icons {
  position: absolute;
  bottom: 23%;
  left: 12.3%;
  /* width: 200px; */
  background: #fefdfd;
  color: rgb(0, 0, 0);
  opacity: 0;
  transition: 0.6s;
}

.hover-icons i {
  font-size: 22px;
  padding: 12px 20px;
}
.slider-cards .card:hover .hover-icons {
  opacity: 1;
}
.hover-icons i:hover {
  background-color: red;
}
.slider-cards .card img,
.products .card img {
  width: 100%;
  height: 300px;
}

.slider-cards .card .content,
.products .card-products .content {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
/* testimonial start */
.testimonial {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  background: #f3ead8;
  padding-block: 100px;
  position: relative;
}
.aero-1 i {
  font-size: 25px;
  cursor: pointer;
  color: #74706b;
}
.testimonial .aero-1 {
  position: absolute;
  left: 20%;
  top: 50%;
  transform: translateY(-50%);
}
.aero-2 i {
  font-size: 30px;
  cursor: pointer;
  color: #74706b;
}
.testimonial .aero-2 {
  position: absolute;
  right: 20%;
  top: 50%;
  transform: translateY(-50%);
}
.testimonial h2 {
  font-size: 34px;
  color: #292621;
}
.testimonial p {
  font-size: 20px;
  line-height: 1.8;
  width: 40%;
}
.testimonial .testimonial-designer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  width: 500px;
}
.testimonial-designer p {
  width: 100%;
  font-size: 14px;
}

/* testimonial end*/

/* products start*/
.products {
  padding-block: 95px;
}
.products h1,
.news-section h1 {
  font-size: 30px;
}

.card span:nth-child(2) {
  color: gray;
  margin-left: 10px;
  text-decoration: line-through;
}
/* products end*/

/* news section start*/
.news-section {
  background: #f6f6f6;
  padding: 80px 8vw;
}

.news-section img {
  width: 362px;
}
.news-section .card {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 363px;
}

.news-section .card .card-content {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.news-section .card-content a {
  font-size: 23px;
  color: #292621;
}
.news-section .card-content P {
  font-weight: 400;
  color: #74706b;
  line-height: 1.6;
}
.news-section .card > a {
  font-weight: 600;
  font-size: 15px;
  color: #292621;
  text-decoration: underline;
}
/* news section end*/
.offers {
  padding: 50px 8vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.offer-card {
  flex: 1 1 240px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-right: 1px solid rgb(230, 224, 224);
}
.offer-card:last-child {
  border-right: 1px solid transparent;
}
.offer-card img {
  margin: auto;
}
.offer-card h3 {
  font-weight: 500;
  font-size: 19px;
}
.offer-card p {
  font-size: 15px;
  color: #57667e;
}
/* news letter start */
footer {
  background-color: #0d0f11;
  padding-inline: 8vw;
}
.news-letter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
  height: 200px;
  border-bottom: 1px solid #b4b3b3;
}
footer .news-letter .subscribe {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 240px;
}

footer form {
  width: 580px;
  display: flex;
  gap: 10px;
}

footer form input {
  outline: none;
  flex-grow: 1;
  background: white;
  padding: 20px 10px;
}

footer form button {
  background: #ff2020;
  padding: 20px 35px;
  font-size: 14px;
}

footer .footer-icons {
  font-size: 24px;
  display: flex;
  justify-content: center;
  gap: 25px;
  color: gray;
}
.news-letter .subscribe h3 {
  font-size: 23px;
  font-weight: 600;
}
.news-letter .subscribe p {
  font-size: 15px;
}
/* news letter end */

/* ye wala box start */
footer .ye-wala-box {
  display: flex;
  gap: 100px;
  /* justify-content: space-between; */
  padding-block: 60px;
  border-bottom: 1px solid rgb(230, 224, 224);
}
.ye-wala-box .shop-men {
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-bottom: 45px;
}
.shop-men h3 {
  font-size: 18px;
  font-weight: 400;
}
.shop-men ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.shop-men ul li a {
  color: #bbb9b5;
}
/* ye wala box end */
/* copy right start */
footer .copy-right {
  padding-top: 40px;
  padding-bottom: 20px;
}
.copy-right p {
  font-size: 16px;
  color: #bbb9b5;
}
.copy-right span {
  color: #ff2020;
}
/* copy right end */

/* Responsivenes starts here  */
@media (max-width: 575px) {
  .nav-1 {
    display: none;
  }
  .nav-2 .child-1 img {
    width: 130px;
  }
  .nav-2 .nav-btn {
    font-size: 14px;
  }
  .slider .slider-content {
    margin: auto;
  }
}
@media (max-width: 767px) {
  .nav-1 ul {
    display: none;
  }
  .nav-1 .nav-child-2 {
    margin: auto;
  }
  .slider {
    min-height: 440px;
  }
  .slider-content button {
    padding: 10px 30px;
  }
}
@media (max-width: 991px) {
  .nav-1 {
    padding-inline: 5vw;
  }
  .nav-2 {
    justify-content: space-between;
  }
  .nav-2 .child-2 {
    width: 100%;
    flex-direction: column;
    align-items: start;
    margin-top: 10px;
    position: absolute;
    background-color: #fff;
    top: 87%;
    height: 0;
  }
  .nav-2 .child-2 ul {
    flex-direction: column;
    margin: 0;
  }
  .nav-2 .nav-btn span {
    font-weight: 600;
    margin-right: 7px;
    align-items: center;
  }
  .nav-2 .nav-btn {
    display: block;
    padding: 4px 11px;
    background-color: #222;
    border-radius: 5px;
    color: white;
  }
  .child-2 .nav-2-icons {
    font-size: 20px;
  }
  .offer-patti-black {
    display: none;
  }
  .nav-2 .child-2.active {
    height: 320px;
  }
}
@media (max-width: 1200px) {
  .nav-2 .child-2 {
    gap: 20px;
  }
  .nav-2 .child-2 ul {
    gap: 15px;
  }
}

/* Responsivenes end here  */
